* {
    box-sizing: border-box;

}

body {
    background-color: rgb(255, 255, 239);
    margin-bottom: -100px;
    
   

}


#name {
    font-family: 'Life Savers', cursive;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(255, 254, 220);
    color: rgb(255, 220, 145);
    text-align: center;
    text-shadow: 4px 0 3px rgb(255, 249, 159);
    letter-spacing: 1rem;
    margin-top: 0;
    padding-bottom: .5em;
    padding-top: .25em;
    border-bottom: 2px dashed rgb(214, 214, 214); 

}

.nav-1 ul {
    background-color: transparent;
    padding: 0;
    
}

ul.no-bullets {
    list-style-type: none;


}

ul li {
    display: block;
    text-align: center;
    background-color:  transparent;
    padding-bottom: .5em;
    
}

ul a { 
    color: rgb(189, 174, 255);
    text-shadow: 4px 0 3px rgb(255, 220, 145);
    font-family: 'Life Savers', cursive;
    font-size: 23px;
    letter-spacing: 4px;
    line-height: 33px;
    text-decoration: none;


}
.profile-image, img {
    width: 287px;
    height: auto; 
    margin: .5rem;

}


p {
    font-family: calibri;
    font-size: 15px;
    color: rgb(214, 214, 214); 
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    margin: 1.5em;
    font-weight: bold;

}

h2 {
    font-family: 'Life Savers', cursive;
    font-size: 1.25rem;
    color: rgb(255, 220, 145);
    text-align: center;
    text-shadow: 4px 0 3px rgb(255, 249, 159);
    letter-spacing: 1rem;

}

h3 {
    font-family: 'Life Savers', cursive;
    font-size: 1rem;
    color: rgb(189, 174, 255);
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;

}

h4 {
    font-family: 'Life Savers', cursive;
    font-size: 1.25rem;
    color: rgb(255, 220, 145);
    text-shadow: 4px 0 3px rgb(255, 249, 159);
    text-align: center;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: .5rem;
    padding: 1rem;

}

footer {
    width: 100%;
    background-color: rgb(255, 254, 220);
    border-top: 2px dashed rgb(214, 214, 214);
    padding: 7px;
    height: 330px;
}

footer p b {
    background-color: rgb(189, 174, 255);
    color: rgb(255, 249, 159);
    font-size: 12px;
    
  

}

footer p {
    color: rgb(189, 174, 255);
    font-size: 13px;

}

#footername {
    font-size: 17px;
    color: rgb(255, 220, 145);
    float: left;
    margin: 0;
    font-family: 'Life Savers', cursive;
    text-shadow: 4px 0 3px rgb(255, 249, 159);

}


.nav-2 {
    display: none;
}

.bottomlink {
    font-size: 17px;
    float: right;
    margin-top: 8px;
    margin-right: 0;
    color: rgb(255, 220, 145);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px dashed rgb(214, 214, 214); 
    
}


hr.hrule {
    border: 1px solid #eee;
    
}

.portpics, .introduction {
    text-align: center;


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


@media (min-width: 768px) {

.nav-2 {
        display: inline;
        float: right;
        
    
}


.maincontainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.maincontainer img {
  margin: 0;
  padding: 10px;
  width: initial;
  max-width: 100%;
}
.maincontainer h2 {
  flex-basis: 100%;
}
.maincontainer div {
  flex-basis: 50%;
}

ul li {
    display: inline;
    border-bottom: none;
             
}
    
ul {
    text-align: center;

}

ul a {
        padding: 1em;
   
}

#footername {
    margin-top: 10px;
    font-size: 25px;
    float: left;
    
}


.introduction p {
    padding: 10px;
    line-height: 29px;
    font-size: 20px;
    text-align: left;
    margin: 15px;
    

}

.profile-image {
    float: right;
    width: 35%;
    margin: 15px;

}

p {
    font-size: 18px;

}

h2, h3, h4 {
    font-size: 1.5rem;

}
footer {
    height: 375px;

}
footer p {
    font-size: 18px;

}

footer p b {
    font-size: 15px;

}

.bottomlink {
    display: none;

}


}

@media (min-width: 1024px) {

.nav-1 ul {
        display: inline;
        float: right;
        position: relative;
        left: -75px;
        margin: -70px;
       
}

.nav-2  {
    display: inline;
    float: right;
    
    


}
.nav-2 ul a {
    padding: 23px 23px 0 23px;
   

}

.maincontainer div {
      flex-basis: 33.333%;
      margin: 0;
}

.profile-image {
    width: 33%;


}



.introduction p {
    padding: 10px;
    line-height: 35px;
    font-size: 30px;
    text-align: left;
    margin: 15px;

}

#name {

    margin-left: -480px;
   
    
}

footer {
    height: 385px;

}
footer p {
    font-size: 20px;

}

footer p b {
    font-size: 20px;
}


h2, h3 {
    font-size: 2rem;

}

p {
    font-size: 20px;
}

}


